.main-body {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 64px;
    padding-top: 20px;
}

.body-col-left {
    margin-left: 150px;
}

.body-col-left p {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
}

.bookcover-img {
    background-color: red;
    width: 80%;
}

button {
    width: 80%;
    font-weight: 700;
    font-size: 32px;
    padding: 24px 0px;
    margin-bottom: 10px;
    color: #FFFFFF;
    background-color: #102851;
}

.body-col-right h2 {
    width: 80%;
    font-family: 'Inter';
    font-weight: 700;
    font-style: italic;
    font-size: 64px;
    margin: 0;
}

.main-text {
    width: 80%;
    font-weight: 700;
    font-size: 24px;
}

.description {
    padding-top: 50px;
    padding-bottom: 50px;
}

.body-col-right h3 {
    width: 80%;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0;
}

.text {
    width: 80%;
    font-weight: 400;
    font-size: 24px;
}

.reviews-signoff-name {
    font-weight: 700;
}