.about-wrapper-admin {
    margin-top: 64px;
    padding-top: 40px;
    color: #102851;
    width: 70%;
    margin-bottom: 50px;
}

.about-edit-header-admin{
    font-weight: 700;
    padding: 0px;
    font-size: 25px;
    margin: 0px;
    background-color: transparent;
    color:  #00b4d8;
    border-style: none;
    text-align: left;
}

.about-content-admin {
    font-weight: 400px;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-line;
}