.publicationsEditContainer{
    display: flex;
    flex-direction: column;
}

.publicationsAdminEditBtn{
    width: 100px;
    font-weight: 700;
    padding: 5px 0px;
    font-size: 16px;
    border-radius: 2px;
    margin: 0px;
    background-color: #D9D9D9;
    color:  #102851;
    border-style: none;
}

.publicationNewCat{
    margin-top: 16px;
}

.editPubTypeCat, .editPubTypeContent{
    padding-top: 20px;
    font-size: 36px;
}

.editContentInputsContainer{
    display: flex;
    /* gap: 8px; */
    align-items: center;
    /* justify-content: center; */
}
.pubEditBtnCollection{
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.editHeaderInputs{
    height: 50px;
    border-color: #102851;
    border-radius: 2px;
    padding: 0px 10px;
    font-family: 'Newsreader';
    font-weight: normal;
    font-size: 20px;
}

.editContentInputs{
    height: 50px;
    border-color: #102851;
    border-radius: 2px;
    padding: 0px 10px;
    font-family: 'Newsreader';
    font-weight: normal;
    font-size: 20px;
    width: 50%;
}

.deleteText:after{
    /* display: inline-block; */
    content: "\2212"; /* 2A09 2573 00d7 This will render the 'X' */
    border-style: solid;
    width: 25px;
    height: 25px;
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    color: red;
    align-self: center;
    border-width: 2px;

}

/* click stlying */
.publicationsAdminEditBtn:hover,.deleteText:hover{
    opacity: 50%;
    cursor: pointer;
  }
  
.publicationsAdminEditBtn:active,.deleteText:active{
    opacity: 100%;
  }
