.contactPageOuter{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: calc(100vh - 64px);
    /* background-color: blue; */
    margin-top: 64px;
}

.contactPageContainer{
    display: flex;
    /* margin-top: 50px; */
    /* align-items: center; */
    gap: 83px;
}

/* left section */
.contactPageLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 23px;
    font-size: 24px;
    /* background-color: red; */
}

.contactPageIcons{
    display: flex;
    gap: 59px;
    justify-content: center;
}

.twitlogo, .indeedlogo, .msglogo{
    width: 66px;
    height: auto;
}
/* right section */
.contactPageRight{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
    gap: 19px;
}
.nameInput{
    display: flex;
    gap: 4%;
}

#fname, #lname, #email{
    font-size: 20px;
    height: 50px;
    border-color: #102851;
    border-radius: 2px;
}
.nameLeft{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.nameRight{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.emailInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.msgInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.msgInputBox{
    border-color: #102851;
    border-width: 2px;
    border-radius: 2px;
    font-size: 20px;
    margin-bottom: 10px;
}

.submitBtn{
    width: 100%;
    height: 80px;
    background-color: #102851;
    color: white;
    border-radius: 2px;
    font-weight: 700;
    font-size: 24px;
    border-style: none;
    font-family: Newsreader;
}

.submitBtn:hover{
    background-color: #33528693;
    cursor: pointer;
    transition: 0.1s;
}

.submitBtn:active{
    background-color: #EA0354;
}

.contactRightLabels{
    padding-bottom: 10px;
}