/* blogpost */

.blogPageOuter{
  margin-top: 64px;
  padding-top: 40px;
}

.blogPostContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.blogPostHeader{
  font-family: Inter;
  font-weight: bold;
}

.blogPostPara{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.2em;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: pre-line;
  margin: 0;
}
.blogPostParaKeepReading{
  line-height: 1.2em;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  white-space: pre-line;
  margin: 0;
}
.blogPostParaCHECK{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2em;
}
.blogPostBtmDiv{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.blogTagContainer{
  display: flex;
  gap: 12px;
}

.blogTag{
  display: flex;
  width: 120px;
  height: 26px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  /* padding-right: 15px; */
}

.darkTag {
  background-color: #102851;
  color:  white;  
  
}

.lightTag {
  background-color: #D9D9D9;
  color:  #102851;
}

.blogPostKeepReading:hover{
  color: #33528693;
  transition: 0.1s;
  cursor: pointer;
}

.blogPostKeepReading:active{
  color: #102851;
}

.blogPostDate, .blogPostKeepReading{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
  


@media (max-width: 480px) {
  .blogTagContainer{
    display: flex;
    width: 60vw;
    gap: 12px;
  }

  .blogTag {
    font-size: 12px;
    width: 10vw !important;
    height: 2vh !important;
  }
}