@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.App{
  margin: 0px 100px;
}

.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0px 30px;
  height: 64px;
  background-color: red;
  /* margin: 0px 100px; */
}

.nav-logo .logo {
  align-self: flex-start;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #102851;
  text-decoration: none;
  background-color: blue;
}

.nav-links {
  align-self: flex-end;
  list-style: none;
  font-family: 'Newsreader';
  font-weight: 700;
  font-size: 24px;
  background-color: green;
}

a:link, a:visited {
  list-style: none;
  color: #102851;
  text-decoration: none;
}

a:hover, .nav-links .active  {
  color: #EA0354;
  text-decoration: underline;
}

.nav-menu {
  display: flex;
  gap: 1px;
}

.nav-menu li {
  padding: 5px 14px;
}