@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.App{
  margin: 0px 100px;
  font-family: 'Newsreader';
}

.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: calc(100% - 200px);
  background-color: white;
  z-index: 100;
}

.nav-logo .logo {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #102851;
  text-decoration: none;
}

.nav-links { 
  list-style: none;
  font-weight: 700;
  font-size: 24px;
}

a:link, a:visited {
  list-style: none;
  color: #102851;
  text-decoration: none;
}

a:hover, .nav-links .active  {
  color: #EA0354;
  text-decoration: underline;
}

.nav-menu {
  display: flex;
  gap: 1px;
}

.nav-menu li {
  padding: 5px 14px;
}